<h2>Hello Safal!</h2>

<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
        <mat-form-field>
            <input matInput tpye='text' name='title'  placeholder="TITLE" ngModel required #title="ngModel">
            <mat-error *ngIf="title.invalid">Invalid title</mat-error>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput cols="30" rows="10" name='content'  placeholder="CONTENT" ngModel required #content="ngModel"></textarea>
          <mat-error *ngIf="content.invalid">Invalid content</mat-error>
        </mat-form-field>
        <hr>
        <button mat-raised-button color='primary' type="submit">Save Post</button>
  </form>
</mat-card>
